body{
    background-color: #f8fff8;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#main{
    display: flex;
    width: 45%;
    min-width: 600px;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    color: #233;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#sidebar{
    flex: 0 0 100px;
    padding: 0 10px;
}
.title{
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 0 10px;
}
.subtitle{
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
}
ul.new{
    position: relative;
    margin: 0 5px;
    padding: 0 5px;
}
ul > span{
    font-size: 12px;
}
ul > li{
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 9px;
    margin: 3px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    position: relative;
}
ul > li:hover{
    text-decoration: underline;
}
ul > li.active{
    font-weight: bold;
    text-decoration: underline;
}
ul > li:hover::before,
ul > li.active::before{
    position: absolute;
    left: -2px;
    content: ">";
}
ul.new > li{
    position: relative;
    top: -10px;
    margin: 0 3px;
}
ul.new > li:hover::before,
ul.new > li:active::before{
    position: absolute;
    left: -2px;
    content: "+";
}
#detail-tile{
    flex: 1 1 300px;
    border-left: 1px solid #ccc;
}
#detail-tile > div{
    display: none;
}
#detail-tile > div.active{
    display: block;
    margin: 0 30px;
    padding: 0 1em;
}
#detail-tile button{
    margin-left: 5px;
    user-select: none;
    position: relative;
    background: #eee;
    cursor: pointer;
}
#detail-tile button:active{
    top: 1px;
}
#detail-tile > div > div{
    display: flex;
    font-size: 14px;
    padding: 3px 0;
    margin: 3px 0;
}
.flex-left{
    padding-right: 1em;
    display: inline-block;
    flex: 0 0 5em;
    min-width: 5em;
    text-align: right;
}
.flex-right{
    flex: 1 1 100px;
    padding: 3px 6px;
}
div.btns{
    padding: 0;
    text-align: right;
}
hr{
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid #ddd;
}
#profile-detail > #rules{
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 320px);
}
.rule{
    display: flex;
    width: 100%;
    font-size: 14px;
    padding: 3px 0;
    margin: 3px 0;
}
.rule > input{
    flex: 1 1 100px;
}
.rule > select{
    flex: 0 0 8em;
    min-width: 6em;
    margin-left: 5px;
}
.rule > select{
    flex: 0 0 0;
}

button,
input[type=text],
input[type=password],
select{
    font-size: 14px;
    padding: 3px 6px;
    box-sizing: border-box;
    min-width: 5em;
    border: 1px solid #8888;
    background: #fafafa;
    outline: none;
}
input:focus{
    background-color: #fff;
}
input[type=checkbox]{
    cursor: pointer;
}
i{
    cursor: pointer;
    font-size: .8em;
    font-style: normal;
}
/*
button:first-child,
input:first-child,
select:first-child{
    margin-top: 0;
    margin-left: 0;
}

button:last-child,
input:last-child,
select:last-child{
    margin-right: 0;
    margin-bottom: 0;
} */